@model App.Web.Models.ComplexViewModel.General.UserProfileViewModel
@{
    ViewData["Title"] = "_Marks";
}
<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab" id="div-ThemeMarks">
    <div class="row div-padding-vertical">
        <div class="col-9 text-left">
            <button class="btn btn-success" data-toggle="modal" data-target="#modalAddMark" id=""><i class="fas fa-plus"></i> Add or Update Mark</button>
        </div>

        <div class="modal fade" id="modalAddMark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adding Mark</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        <div class="md-form mb-4">
                            Module
                            <select class="form-control" id="addmarkmodule">
                                <option value="-1">Chose Module...</option>
                                @foreach (var item in Model.Modules)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="md-form mb-4">
                            Theme
                            <select class="form-control" id="addmarktheme">
                                <option value="-1">Chose Theme...</option>
                            </select>
                        </div>
                        <div class="md-form mb-4">
                            Intern
                            <select class="form-control" id="addmarkintern">
                                <option value="-1">Chose Intern...</option>
                            </select>
                        </div>
                        <div class="md-form mb-4">
                            Mark
                            <input type="number" step="0.1" class="form-control" min="1" max="10" required id="addmark" />
                        </div>
                        <div class="md-form mb-4">
                            Comment
                            <input type="text" class="form-control" id="addmarkcomment" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" data-dismiss="modal" id="addMarkConfirm">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" class="text-right">
            <input type="text" class="form-control" id="search" placeholder="Search" />
        </div>
    </div>
    <select id="module" class="form-control">
        @foreach (var item in Model.Modules)
        {
            <option value=@item.Id>@item.Name</option>
        }
        <option value="0" selected>All Modules</option>
    </select>

    <table class="table" id="table-ThemeMarks">
        <thead>
            <tr>
                <th>
                    User EMail <a href="#" id="email" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Theme Name <a href="#" id="themename" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Mark <a href="#" id="mark" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Marks.ThemeMarks != null)
            {
                @foreach (var item in Model.Marks.ThemeMarks)
                {
                    <tr>
                        <td>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.UserId"><i class="fas fa-user"></i> @item.UserEmail</a>
                        </td>
                        <td>
                            @item.ThemeName
                        </td>
                        <td>
                            <span class="tmakrs">@item.Mark</span>
                        </td>
                        <td>
                            @item.Comment
                        </td>
                    </tr>
                }

            }
            else if (Model.Marks.ThemeMarks == null)
            {
                <tr>
                    <td colspan="3"><b>No marks!</b></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="footerTMarks" style="margin:20px" class="text-right">
        <button id="moreTMarks" class="btn btn-outline-primary">More...</button>
    </div>
</div>
<div class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab" id="div-ExamMarks">
    <table class="table">
        <thead>
            <tr>
                <th>
                    User EMail <a href="#"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Module Name <a href="#"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Mark<a href="#"> <i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Marks.ExamMarks != null)
            {
                @foreach (var item in Model.Marks.ExamMarks)
                {
                    <tr>
                        <td>
                            <a asp-controller="Home" asp-action="Details"><i class="fas fa-user"></i> @item.UserEmail</a>
                        </td>
                        <td>
                            @item.ModuleName
                        </td>
                        <td class="emarks">
                            <span class="emakrs">@item.Mark</span>
                        </td>
                        <td>
                            @item.Comment
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="4"><b>No marks!</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/Calculate.js"></script>
<script>
    $(document).ready(function () {
        var ascending = true;
        var page = 0;
        var orderbyprop = "email";

        AverageMarks($('.tmakrs'));

        $("#addMarkConfirm").bind("click", function () {
            var internmark = ({
                themeId: $("#addmarktheme").val(),
                internId: $("#addmarkintern").val(),
                mark: ($("#addmark").val()).toString(2),
                comment: $("#addmarkcomment").val()
            });

            $.ajax({
                url: "/Mark/AddOrUpdateThemeMark",
                type: "POST",
                datatype: "json",
                data: (internmark),
                success: function (result) {
                    $("#addmark").val("");
                    $("#addmarkcomment").val("");
                },
                error: function () {
                    alert("ERROR!");
                }
            });
        });

        $.ajax({
            url: "/User/GetInterns",
            type: "GET",
            datatype: "json",
            success: function (data) {
                $("#addmarkintern").empty();
                $.each(data, function (i, item) {
                    $("#addmarkintern").append(new Option((item.eMail), item.id));
                });
            },
            error: function () {
                alert("Error");
            }
        });

        $("#addmarkmodule").bind("change", function () {
            $.ajax({
                url: "/Theme/GetThemesByModuleId",
                type: "GET",
                datatype: "json",
                data: ({ moduleId: $("#addmarkmodule").val() }),
                success: function (data) {
                    $("#addmarktheme").empty();
                    $.each(data, function (i, item) {
                        $("#addmarktheme").append(new Option((item.name), item.id));
                    });
                },
                error: function () {
                    alert("Error");
                }
            });

        });

        $("#module").bind("change", function () {
            $.ajax({
                url: "/Mark/GetThemeMarksByModule",
                type: "GET",
                datatype: "json",
                data: ({ moduleId: $("#module").val(), orderby: orderbyprop, sorting: ascending }),
                success: function (data) {
                    page = 0;
                    try {
                        $("#warningMarks").remove();
                        $("#moreTMarks").show();
                    }
                    catch (Exception) {

                    }
                    $("#table-ThemeMarks > tbody").empty();
                    AppendToTable(data);
                    AverageMarks($('.tmakrs'));
                },
                error: function () {

                }
            });
        });

        $("#search").bind("change", function () {
            $.ajax({
                url: "/Mark/GetThemeMarksByEmail",
                type: "GET",
                datatype: "json",
                data: ({ email: $("#search").val() }),
                success: function (data) {
                    page = 0;
                    try {
                        $("#warningMarks").remove();
                        $("#moreTMarks").show();
                    }
                    catch (Exception) {

                    }
                    $("#table-ThemeMarks > tbody").empty();
                    AppendToTable(data);
                    AverageMarks($('.tmakrs'));
                },
                error: function () {

                }
            });
        });

        $(".property").bind("click", function () {
            if (ascending == true) ascending = false;
            else ascending = true;
            orderbyprop = $(this).attr('id');
            $.ajax({
                url: "/Mark/GetThemeMarksSorted",
                type: "GET",
                datatype: "json",
                data: ({ page: page, orderby: $(this).attr('id'), sorting: ascending }),
                success: function (data) {
                    try {
                        $("#warningMarks").remove();
                        $("#moreTMarks").show();
                    }
                    catch (Exception) {

                    }
                    page = 0;
                    $("#moreTMarks").show();
                    $("#table-ThemeMarks > tbody").empty();
                    AppendToTable(data);
                    AverageMarks($('.tmakrs'));
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        $("#moreTMarks").bind("click", function () {
            page++;
            $.ajax({
                url: "/Mark/GetMoreThemeMarks",
                type: "GET",
                datatype: "application/json",
                data: ({ page: page, orderby: orderbyprop, sorting: ascending }),
                success: function (data) {
                    if (data.length < 10) {
                        $("#moreTMarks").hide();
                        $("#footerTMarks").append("<span id='warningMarks' class='text-danger'>No more Theme Mark</span>");
                    }
                    AppendToTable(data);
                    AverageMarks($('.tmakrs'));
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        function AppendToTable(data) {
            $.each(data, function (i, item) {
                $('<tr>').append(
                    $('<td>').html("<a href='/Home/Details/" + item.userId + "' ><i class='fas fa-user'></i> " + item.userEmail + "</a>"),
                    $('<td>').text(item.themeName),
                    $('<td>').html("<span class='tmakrs'>" + item.mark + "</span>"),
                    $('<td>').text(item.comment)
                ).appendTo('#table-ThemeMarks');
            });
        }
    });

    function AverageMarks(marks) {

        var total = 0,
            nr_marks = 0,
            average = 0;

        marks.each(function (i, item) {
            total = total + parseFloat(item.innerHTML);
            nr_marks = nr_marks + 1;
        });

        average = total / nr_marks;
        $("#avgTMarks").remove();
        $('<tr id="avgTMarks">').append(
            $('<td colspan="2">').html('<b>AVG Marks: </b>'),
            $('<td>').html('<span class="text-muted"> <b>' + average.toFixed(2) + '</b></span >')
        ).appendTo("#table-ThemeMarks");
    }
</script>