@model App.Web.Models.ComplexViewModel.General.UserProfileViewModel
@{
    ViewData["Title"] = "_Marks";
}

<div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#divTMarks" role="tab" aria-controls="nav-home" aria-selected="true">Theme Marks</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#divEMarks" role="tab" aria-controls="nav-profile" aria-selected="false">Exam Marks</a>
        </div>
    </nav>
    <div class="text-center">
        <div class="row bg-first">
            <p>
                My problem is that after translating up the image, the div that contains it remains
                unchanged, and has lots of white space in the place where the image used to be.
            </p>
        </div>
        <div class="tab-content div-padding-vertical" id="nav-tabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab" id="divTMarks">
                <div class="div-margin-topbottom">
                    <select name="modules" style="width:100%" class="form-control" id="module">
                        @foreach (var item in Model.Modules)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                        <option value="0" selected>All Modules</option>
                    </select>
                </div>
                <div>
                    <table class="table table-hover" id="tableBody">
                        <thead>
                            <tr>
                                <th>
                                    Theme
                                </th>
                                <th>
                                    Mark
                                </th>
                                <th>
                                    Comment
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Marks.ThemeMarks)
                            {
                                <tr>
                                    <td>
                                        @item.ThemeName
                                    </td>
                                    <td>
                                        <span class='tmarks'>@item.Mark</span>
                                    </td>
                                    <td>
                                        @item.Comment
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (User.IsInRole("Intern"))
                    {
                        <div class="text-center">
                            <div class="col-12">
                                <canvas id="mychart"></canvas>
                            </div>
                            <div class="row">
                                <p class="text-center text-muted">
                                    Coding Just Got Easy!

                                    Free Plugin for IntelliJ,
                                    Android Studio, and Eclipse: Write fast & error free code with AI code completions.
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab" id="divEMarks">
                <table class="table" id="tableEmarks">
                    <thead>
                        <tr>
                            <th>
                                Module
                            </th>
                            <th>
                                Mark
                            </th>
                            <th>
                                Comment
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Marks.ExamMarks != null)
                        {
                            @foreach (var item in Model.Marks.ExamMarks)
                            {
                                <tr>
                                    <td>
                                        @item.ModuleName
                                    </td>
                                    <td>
                                        @item.Mark
                                    </td>
                                    <td>
                                        @item.Comment
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3"><b>No items!</b></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ChartsInterns.js"></script>
@if (User.IsInRole("Intern"))
{
    <script id="internScript">
        
        $(document).ready(function () {

            AjaxGetMarks();

            $("#module").bind("change", function () {
                $.ajax({
                    url: "/Mark/GetMarks",
                    type: "GET",
                    data: ({ moduleId: $("#module").val() }),
                    datatype: "json",
                    success: function (data) {
                        $("#tableBody > tbody").empty();
                        $.each(data.themeMarks, function (i, item) {
                            $('<tr>').append(
                                $('<td>').text(item.themeName),
                                $('<td>').html("<span class='tmarks'>" + item.mark + "</span>"),
                                $('<td>').text(item.comment)
                            ).appendTo('#tableBody');
                        });
                        AverageMarks();
                    }
                });
                AjaxGetMarks();
            });
            AverageMarks();
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {

            $("#module").bind("change", function () {

                var url = (window.location.href).split("/");
                var internId = url[5];

                $.ajax({
                    url: "/Mark/GetThemeMarksByModuleUser",
                    type: "GET",
                    data: ({ moduleId: $("#module").val(), userId: internId }),
                    datatype: "json",
                    success: function (data) {

                        $("#tableBody > tbody").empty();
                        $.each(data, function (i, item) {
                            $('<tr>').append(
                                $('<td>').text(item.themeName),
                                $('<td>').html("<span class='tmarks'>" + item.mark + "</span>"),
                                $('<td>').text(item.comment)
                            ).appendTo('#tableBody');
                        });
                        AverageMarks();
                    }
                });
            });
            AverageMarks();
        });

    </script>
}
<script>
function AverageMarks() {

    var total = 0,
        nr_marks = 0,
        average = 0;
    var marks = $(".tmarks");
    marks.each(function (i, item) {
        total = total + parseFloat(item.innerHTML);
        nr_marks = nr_marks + 1;
    });

    average = total / nr_marks;
    $("#avgTMarks").remove();
    $('<tr id="avgTMarks">').append(
        $('<td colspan="2">').html('<b>AVG Marks: </b>'),
        $('<td>').html('<span class="text-muted"> <b>' + average + '</b></span >')
    ).appendTo("#tableBody");
    }
</script>