@model App.Web.Models.ComplexViewModel.Admin.UserProfileListViewModel
@{
    ViewData["Title"] = "_Monitoring";
}

<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#div-Users" role="tab" aria-controls="nav-profile" aria-selected="false">Users</a>
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#div-ThemeMarks" role="tab" aria-controls="nav-home" aria-selected="true">Theme Marks</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#div-ExamMarks" role="tab" aria-controls="nav-profile" aria-selected="false">Exam Marks</a>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row bg-first">
            <p>
                My problem is that after translating up the image, the div that contains it remains
                unchanged, and has lots of white space in the place where the image used to be.
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab" id="div-Users">
                <div class="row">
                    <div class="col-md-10 col-sm-8 col-xs-12 div-padding-vertical"></div>
                    <div class="col-md-2 col-sm-4 col-xs-12 div-padding-vertical">
                        <button class="btn btn-outline-warning btn-sm form-control" data-toggle="modal" data-target="#modal-requested-users" id="button-requested-users">Requested Users</button>
                        <div class="modal fade" id="modal-requested-users" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Requested Users</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <table id="table-requested-users" class="table table-sm">
                                            <thead>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>EMail</th>
                                            <th>PhoneNumber</th>
                                            <th>Date of Birth</th>
                                            <th>Role</th>
                                            <th>Confirmation</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        EMail
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                    <th>
                                        Date of Birth
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-user"></i> @item.EMail</a>
                                        </td>
                                        <td>
                                            @item.FirstName
                                        </td>
                                        <td>
                                            @item.LastName
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            @item.DateOfBirth.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details / <i class="far fa-edit"></i> Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("../DashBoard/_AllMarks", Model.UserProfile)
            <script>
                $("#div-ThemeMarks").removeClass("show");
                $("#div-ThemeMarks").removeClass("active");

                $(document).ready(function () {
                    $("#button-requested-users").bind("click", function () {
                        $.ajax({
                            url: "/User/GetRequestedUsers",
                            type: "GET",
                            datatype: "json",
                            success: function (data) {
                                $('#table-requested-users > tbody').empty();
                                $.each(data, function (i, item) {
                                    $('<tr id="tr-id-'+item.id+'">').append(
                                        $('<td>').text(item.id),
                                        $('<td>').text(item.firstName + " " + item.lastName),
                                        $('<td>').text(item.email),
                                        $('<td>').text(item.phoneNumber),
                                        $('<td>').text(DateFormat(item.dateOfBirth)),
                                        $('<td class="td-requested-user-role">').html("<select class='form-control role' id='role" + item.id + "'><option value='Intern'>Intern</option><option value='Menthor'>Menthor</option><option value='Admin'>Admin</option></select>"),
                                        $('<td>').html("<button class='requested-user-accept btn-sm btn-success' id='" + item.id + "'> Accept</button> "
                                            + "<button class='requested-user-decline btn-sm btn-danger' id='" + item.id + "' > Decline</button> ")
                                    ).appendTo('#table-requested-users');
                                });

                                $(".requested-user-accept").bind("click", function () {
                                    var id = $(this).attr('id');
                                    var userRole = $("#tr-id-" + id + " > .td-requested-user-role > select").val();
                                    $.ajax({
                                        url: "/User/AddRequestedUser",
                                        type: "POST",
                                        datatype: "json",
                                        data: ({ requestedUserId: id, role: userRole }),
                                        success: function () {
                                            $("#tr-id-" + id).remove();
                                            alert("success");
                                        },
                                        error: function () {
                                            alert("error");
                                        }
                                    });
                                });

                                $(".requested-user-decline").bind("click", function () {
                                    var id = $(this).attr('id');
                                    $.ajax({
                                        url: "/User/RemoveRequestedUser",
                                        type: "POST",
                                        datatype: "json",
                                        data: ({ requestedUserId: id }),
                                        success: function () {
                                            $("#tr-id-" + id).remove();
                                            alert("success");
                                        },
                                        error: function () {
                                            alert("error");
                                        }
                                    });
                                });
                            },
                            error: function () {

                            }
                        });

                    });


                });

                function DateFormat(stringLine) {
                    var date = (stringLine).split("T");
                    var dateparts = date[0].split("-");

                    return (dateparts[2] + "/" +
                        dateparts[1] + "/" +
                        dateparts[0]);
                }
            </script>
        </div>
    </div>
</div>