@model App.Web.Models.ComplexViewModel.Intern.CurrentUserDataViewModel
@{
    ViewData["Title"] = "_Marks";
}
<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab" id="divTMarks">
    <div style="margin:20px" class="text-right">
        <span class="text-muted"><i class="fas fa-search"></i>Search: </span> <input type="text" id="search" />
    </div>
    
    <select id="module" class="form-control">
        @foreach(var item in Model.Modules)
        {
            <option value=@item.Id>@item.Name</option>
        }
        <option value="0" selected>All Modules</option>
    </select>

    <table class="table" id="tableBody">
        <thead>
            <tr>
                <th>
                    User EMail <a href="#" id="email" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Theme Name <a href="#" id="theme" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Mark <a href="#" id="mark" class="property"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Marks.ExamMarks != null)
            {
                @foreach (var item in Model.Marks.ThemeMarks)
                {
                    <tr>
                        <td>
                            @item.UserEmail
                        </td>
                        <td>
                            @item.ThemeName
                        </td>
                        <td>
                            @item.Mark
                        </td>
                        <td>
                            @item.Comment
                        </td>
                    </tr>
                }
            }
            else if (Model.Marks.ExamMarks == null)
            {
                <tr>
                    <td colspan="3"><b>Don't exist marks!</b></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="footerTMarks" style="margin:20px" class="text-right">
        <button id="moreTMarks" class="btn btn-outline-primary">More...</button>
    </div>
</div>
<div class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab" id="divEMarks">
    <table class="table">
        <thead>
            <tr>
                <th>
                    User EMail <a href="#"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Module Name <a href="#"><i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Mark<a href="#"> <i class="fas fa-sort"></i></a>
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Marks.ExamMarks != null)
            {
                @foreach (var item in Model.Marks.ExamMarks)
                {
                    <tr>
                        <td>
                            @item.UserEmail
                        </td>
                        <td>
                            @item.ModuleName
                        </td>
                        <td>
                            @item.Mark
                        </td>
                        <td>
                            @item.Comment
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4"><b>Don't exist marks!</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var ascending = true;
    var page = 0;
    var orderbyprop="email";

    $("#module").bind("change", function () {
        $.ajax({
            url: "/Menthor/GetTMarksByModule",
            type: "GET",
            datatype: "json",
            data: ({ moduleId: $("#module").val(), orderby: orderbyprop, sorting: ascending}),
            success: function (data) {
                page = 0;
                try {
                    $("#warningMarks").remove();
                    $("#moreTMarks").show();
                }
                catch (Exception) {

                }
                $("#tableBody > tbody").empty();
                $.each(data, function (i, item) {
                    $('<tr>').append(
                        $('<td>').text(item.userEmail),
                        $('<td>').text(item.themeName),
                        $('<td>').text(item.mark),
                        $('<td>').text(item.comment)
                    ).appendTo('#tableBody');
                });
            },
            error: function () {

            }
        });
    });

    $("#search").bind("change", function () {
        $.ajax({
            url: "/Menthor/GetTMarksByEmail",
            type: "GET",
            datatype: "json",
            data: ({ email: $("#search").val() }),
            success: function (data) {
                page = 0;
                try {
                    $("#warningMarks").remove();
                    $("#moreTMarks").show();
                }
                catch (Exception) {

                }
                $("#tableBody > tbody").empty();
                $.each(data, function (i, item) {
                    $('<tr>').append(
                        $('<td>').text(item.userEmail),
                        $('<td>').text(item.themeName),
                        $('<td>').text(item.mark),
                        $('<td>').text(item.comment)
                    ).appendTo('#tableBody');
                });
            },
            error: function () {

            }
        });
    });

    $(".property").bind("click", function () {
        if (ascending == true) ascending = false;
        else ascending = true;
        orderbyprop = $(this).attr('id');
        $.ajax({
            url: "/Menthor/GetTMarksSorted",
            type: "GET",
            datatype: "json",
            data: ({ page: page, orderby: $(this).attr('id'), sorting: ascending }),
            success: function (data) {
                try {
                    $("#warningMarks").remove();
                    $("#moreTMarks").show();
                }
                catch (Exception) {

                }
                page = 0;
                $("#moreTMarks").show();
                $("#tableBody > tbody").empty();
                $.each(data, function (i, item) {
                    $('<tr>').append(
                        $('<td>').text(item.userEmail),
                        $('<td>').text(item.themeName),
                        $('<td>').text(item.mark),
                        $('<td>').text(item.comment)
                    ).appendTo('#tableBody');
                });
            },
            error: function () {
                alert("Error");
            }
        });
    });

    $("#moreTMarks").bind("click", function () {
        page++;
        $.ajax({
            url: "/Menthor/GetMoreTMarks",
            type: "GET",
            datatype: "application/json",
            data: ({ page: page, orderby: orderbyprop, sorting: ascending }),
            success: function (data) {
                if (data.length < 10) {
                    $("#moreTMarks").hide();
                    $("#footerTMarks").append("<span id='warningMarks' class='text-danger'>Don't exist more Theme Mark</span>");
                }
                $.each(data, function (i, item) {
                    $('<tr>').append(
                        $('<td>').text(item.userEmail),
                        $('<td>').text(item.themeName),
                        $('<td>').text(item.mark),
                        $('<td>').text(item.comment)
                    ).appendTo('#tableBody');
                });
            },
            error: function () {
                alert("Error");
            }
        });
    });
</script>