@model App.Web.Models.ComplexViewModel.Admin.AdminDataViewModel
@{
    ViewData["Title"] = "_Monitoring";
}

<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#divUsers" role="tab" aria-controls="nav-profile" aria-selected="false">Users</a>
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#divTMarks" role="tab" aria-controls="nav-home" aria-selected="true">Theme Marks</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#divEMarks" role="tab" aria-controls="nav-profile" aria-selected="false">Exam Marks</a>

        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row bg-first">
            <p>
                My problem is that after translating up the image, the div that contains it remains
                unchanged, and has lots of white space in the place where the image used to be.
            </p>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab" id="divUsers">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                EMail
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Date of Birth
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-user"></i> @item.EMail</a>
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @item.DateOfBirth.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details / <i class="far fa-edit"></i> Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Html.PartialAsync("../Menthor/_Marks", Model.Data)
            <script>
                $("#divTMarks").removeClass("show");
                $("#divTMarks").removeClass("active");
            </script>
        </div>
    </div>
</div>