@model App.Web.Models.ComplexViewModel.General.CurrentUserDataViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="text-right">
        <h1>Details</h1>
    </div>
    <div>
        <h4>User    <span id="_email">@Model.PersonalData.EMail</span></h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-4">
            <div>
                <h5>Id</h5>@Model.PersonalData.Id
            </div>
            <div>
                <h5>First Name</h5>
                <span id="_fname">@Model.PersonalData.FirstName </span>
            </div>
            <div>
                <h5>
                    Last Name
                </h5>
                <span id="_lname">@Model.PersonalData.LastName</span>
            </div>
            <div>
                <h5>
                    Date Of Birth
                </h5>
                <span id="_datebirth">@Model.PersonalData.DateOfBirth.ToString("dd/MM/yyyy")</span>
            </div>
            <div>
                <h5>Email Confirmed</h5>
                <input type="checkbox" id="_emailconfirmed" value=@Model.PersonalData.EmailConfirmed disabled="disabled" />
            </div>
            <div>
                <h5>Phone Number </h5>
                <span id="_phonenumber">@Model.PersonalData.PhoneNumber</span>
            </div>
            <div>
                <h5>Phone Number Confirmed </h5>
                <input type="checkbox" id="_phoneconfirmed" value=@Model.PersonalData.PhoneNumberConfirmed disabled="disabled" />
            </div>
            <div>
                <h5>Two Factor Enabled</h5>
                <input type="checkbox" id="_twofactorenabled" value=@Model.PersonalData.TwoFactorEnabled disabled="disabled" />
            </div>
            <div>
                <h5>
                    Access Failed Count
                </h5> <span id="_accessfailed">@Model.PersonalData.AccessFailedCount</span>
            </div>
        </div>
        <div class="col-8">
            @await Html.PartialAsync("../Intern/_Marks", Model)
            @*<table class="table">
                <thead>
                <th>Theme</th>
                <th>Mark</th>
                <th>Comment</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Marks.ThemeMarks)
                    {
                    <tr>
                        <td>@item.ThemeName</td>
                        <td>@item.Mark </td>
                        <td>@item.Comment</td>
                    </tr>
                    }
                    <tr><td><b>Avg Marks:</b></td><td colspan="2"></td></tr>
                </tbody>
            </table>*@
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-primary btn-sm">Back to List</a> |
        <a asp-action="Edit" asp-route-id="@Model.PersonalData.Id" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">Edit</a> |
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmation" id="">Delete</button>

    </div>
</div>

<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Are you shure?!</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal" id="userDeleting">Yes</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* -------------------------------------------------------- *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for=PersonalData.FirstName class="control-label"></label>
                    <input asp-for=PersonalData.FirstName class="form-control" id="fname" />
                    <span asp-validation-for=PersonalData.FirstName class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=PersonalData.LastName class="control-label"></label>
                    <input asp-for=PersonalData.LastName class="form-control" id="lname" />
                    <span asp-validation-for=PersonalData.LastName class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=PersonalData.DateOfBirth class="control-label"></label>
                    <input asp-for=PersonalData.DateOfBirth class="form-control" id="datebirth" />
                    <span asp-validation-for=PersonalData.DateOfBirth class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for=PersonalData.Id id="userId" />
                </div>
                <div class="form-group">
                    <label asp-for=PersonalData.EMail class="control-label"></label>
                    <input asp-for=PersonalData.EMail class="form-control" id="email" />
                    <span asp-validation-for=PersonalData.EMail class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for=PersonalData.EmailConfirmed id="emailconfirmed" /> Email Confirmed
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for=PersonalData.PhoneNumber class="control-label"></label>
                    <input asp-for=PersonalData.PhoneNumber class="form-control" id="phonenumber" />
                    <span asp-validation-for=PersonalData.PhoneNumber class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for=PersonalData.PhoneNumberConfirmed id="phoneconfirmed" /> Phone Number Confirmed
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for=PersonalData.TwoFactorEnabled id="twofactorenabled" /> Two Factor Enabled
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for=PersonalData.AccessFailedCount type="text" class="control-label"></label>
                    <input asp-for=PersonalData.AccessFailedCount type="text" class="form-control" id="accessfailed" />
                    <span asp-validation-for=PersonalData.AccessFailedCount type="text" class="text-danger"></span>
                </div>
                @* -------------------------------------------------------- *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="sendform">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#userDeleting").bind("click", function () {
        $.ajax({
            url: "/Admin/DeleteUser",
            type: "POST",
            datatype: "application/json",
            data: ({userId:@Model.PersonalData.Id})
        });
    });

    $("#sendform").bind("click", function () {
        var obj = ({
            Id: $("#userId").val(),
            FirstName: $("#fname").val(),
            LastName: $("#lname").val(),
            DateOfBirth: $("#datebirth").val(),
            PhoneNumber: $("#phonenumber").val(),
            EMail: $("#email").val(),
            PhoneNumberConfirmed: $("#phoneconfirmed").val(),
            EMailConfirmed: $("#emailconfirmed").val(),
            TwoFactorEnabled: $("#twofactorenabled").val(),
            AccessFailedCount: $("#accessfailed").val()
        });
        $.ajax({
            url: "/Admin/Edit",
            type: "post",
            datatype: "application/json",
            data: obj,
            success: function () {

                $("#_fname").text($("#fname").val());
                $("#_lname").text($("#lname").val());
                $("#_datebirth").text($("#datebirth").val());
                $("#_email").text($("#email").val());
                $("#_phonenumber").text($("#phonenumber").val());
                $("#_emailconfirmed").val($("#emailconfirmed").val());
                $("#_phoneconfirmed").val($("#phoneconfirmed").val());
                $("#_twofactoredenabled").val($("#twofactorenabled").val());
                $("#_accessfailed").text($("#accessfailed").val());

            },
            error: function () {
                alert("ERROR");
            }
        });
    });



</script>
