@model App.Web.Models.GeneralUser.CurrentUserCommsViewModel
<div class="col-md-9 col-xs-7 content-div">
    <div class="row content-input-div">
        <input class="form-control" id="myComment" />
        <button class="btn btn-primary" id="submitComment">Add Comment</button>
    </div>
    <div class="row content-comment-div">
        <div class="form-group col-12">
            <p>Comments</p>
            <hr />
            <div class="col-12" id="allcomments">

                @foreach (var item in Model.Comments)
                {
                    <b>@item.EMail</b><span>:</span> @item.Comment <small class="text-muted text-right">(@item.DateComment)</small><br />
                }
            </div>
            <div>
                <button id="MoreComments" class="btn btn-outline-primary btn-sm">Show more comments...</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#submitComment").click(function () {
        $.ajax({
            url: "/Intern/SubmitComment",
            type: "POST",
            data: ({ comment: $("#myComment").val(), themeId: $("#theme").val() }),
            datatype: "html",
            success: function () {
                $("#allcomments").prepend("<b>@Model.CurrentUserEmail</b> : " + $("#myComment").
                    val() + " <small class='text-muted'>(@DateTime.Now.ToString())</span><br/>");
                $("#myComment").val("");
            },
            error: function () {
                alert("Choose a theme!");
            }
        });
    });
    var pageNr = 0;

    $("#MoreComments").click(function () {
        pageNr++;
        //if(pageNr != -1)
        $.ajax({
            url: "/Intern/GetMoreComments",
            type: "GET",
            data: ({ themeId: $("#theme").val() , pageNr: pageNr}),
            datatype: "application/json",
            success: function (data) {
                if (data.length < 10) {
                    $("#MoreComments").hide();
                    //$("#allcomments").append("<br/><span class='text-danger text-sm'>Don't exist more comments</span>");
                }
                $.each(data, function (i, item) {
                    $('#allcomments').append("<b>" + item.EMail+"</b> : " + item.Comment + " <small class='text-muted'>(" + item.DateComment+")</span><br/>");
                });
             }
        });
    });
</script>