@model App.Web.Models.ComplexViewModel.Intern.CurrentDataInternViewModel
<style>
    .my-comment {
        margin: 10px;
        padding: 5px;
        border-radius: 20px;
        background-color: #3399ff;
        color: #fff;
        height: auto;
        width: 500px;
        float: left;
    }

    .other-comment {
        margin: 10px;
        padding: 5px;
        border-radius: 20px;
        background-color: #d9d9d9;
        color: #fff;
        height: auto;
        width: 500px;
        float: right;
    }
</style>
<div class="col-md-9 col-xs-7 content-div">
    <div class="row content-input-div">
        <input class="form-control" id="myComment" />
        <button class="btn btn-primary" id="submitComment">Add Comment</button>
    </div>
    <div class="row content-comment-div">
        <div class="row">
            <div class="form-group col-12">
                <p>Comments</p>
                <hr />
                <div class="col-12" id="allcomments">

                    @foreach (var item in Model.Comments)
                    {
                        // @:
                        <div class="@(Model.PersonalData.EMail.Equals(item.EMail) ? "my-comment" : "other-comment") ">
                            <img src="~/imgs/about.jpg" style="width:30px; height:30px; border-radius:200px;" /> <b>@item.EMail</b><span class="text-body"> : @item.Content</span> <small class="text-muted text-right">(@item.DateComment)</small>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="bottom-div" class="row" style="margin:20px">
            <button id="MoreComments" class="btn btn-outline-primary btn-sm">Show more comments...</button>
        </div>
    </div>
</div>
<script>
    $("#submitComment").click(function () {
        $.ajax({
            url: "/Intern/SubmitComment",
            type: "POST",
            data: ({ comment: $("#myComment").val(), themeId: $("#theme").val() }),
            datatype: "html",
            success: function () {
                $("#allcomments").prepend("<div class='my-comment'>"+
                    "<img src='~/imgs/about.jpg' style='width:30px;height:30px;border-radius:200px;'/> "+
                    "<b>@Model.PersonalData.EMail</b><span class='text-body'> : " + $("#myComment").val() +
                    " </span><small class='text-muted'>(@DateTime.Now.ToString())</span></div>");
                $("#myComment").val("");
            },
            error: function () {
                alert("Error! Choose a theme!");
            }
        });
    });
    var pageNr = 0;

    $("#MoreComments").click(function () {
        pageNr++;
        //if(pageNr != -1)
        $.ajax({
            url: "/Intern/GetMoreComments",
            type: "GET",
            data: ({ themeId: $("#theme").val() , pageNr: pageNr}),
            datatype: "application/json",
            success: function (data) {
                if (data.length < 10) {
                    $("#bottom-div").prepend("<span class='text-danger'>Don't exist more comments!</span>");
                    $("#MoreComments").hide();
                    //$("#allcomments").append("<br/><span class='text-danger text-sm'>Don't exist more comments</span>");
                }
                $.each(data, function (i, item) {
                    $('#allcomments').append("<b>" + item.EMail+"</b> : " + item.Comment + " <small class='text-muted'>(" + item.DateComment+")</span><br/>");
                });
             }
        });
    });
</script>