@model App.Web.Models.ViewModel.UserViewModel.UserDetailedViewModel
@{
    ViewData["Title"] = "Settings";
}

<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
    <div class="row">
        <div class="col-12" style="padding:20px">
            <img src="https://w2w.fund/Content/img/default.png"
                 class="rounded-circle mx-auto d-block">
            <br>
            @*<button class="btn btn-outline-primary mx-auto d-block">
                Change Profile
                Photo
            </button>*@
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-sm-8 text-center">
                <table class="table">
                    <tr>
                        <th>Personal Data</th>
                        <th>
                            <div>
                                <a class="btn btn-outline-primary" href="" data-toggle="modal" data-target="#modalPersonalData">
                                    Change Personal Data
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>@(Model.DateOfBirth.ToString("dd/MM/yyyy"))</td>
                    </tr>
                    <tr>
                        <td>Number Phone</td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>EMail</td>
                        <td>@Model.EMail</td>
                    </tr>
                    <tr>
                        <th>Account Data</th>
                        <th>
                            <div>
                                <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalAccountData">
                                    Change Account Data
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>Login</td>
                        <td>@Model.EMail</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>********</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmDelete">Delete Account</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-left">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-4">
                <h5>Are you sure?</h5>
                <div class="modal-footer text-right">
                    <button class="btn btn-info" data-dismiss="modal" aria-label="Close">No</button>
                    <button id="PersonalData" class="btn btn-danger" type="submit" data-dismiss="modal" aria-label="Close">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPersonalData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-left">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Personal Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-4">
                <div class="md-form mb-4">
                    <i class="fas fa-user"></i> <label>First Name</label>
                    <input type="text" id="FName" class="form-control validate" value=@Model.FirstName required maxlength="20">
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-user"></i> <label>Last Name</label>
                    <input type="text" id="LName" class="form-control validate" value=@Model.LastName required maxlength="20">
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-mobile-alt"></i> <label>Phone Number</label>
                    <input type="text" id="PhoneNumber" class="form-control validate" value=@Model.PhoneNumber required maxlength="20">
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-birthday-cake"></i> <label>Date of Birth</label>
                    <input type="date" id="DateBirth" class="form-control validate" value=@(Model.DateOfBirth.ToString("yyyy-MM-dd"))>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                <button id="PersonalData" class="btn btn-success" type="submit" data-dismiss="modal" aria-label="Close">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAccountData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-4">
                    <i class="fas fa-unlock"></i>   <label> Old Password</label>
                    <input type="password" class="form-control" value="">
                </div>
                <div class="md-form mb-2">
                    <i class="fas fa-key"></i>  <label> New Password</label>
                    <input type="password" class="form-control" value="">
                </div>
                <div class="md-form mb-2">
                    <i class="fas fa-key"></i>  <label> Confirm New Password</label>
                    <input type="password" class="form-control" value="">
                </div>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
                        //$(document).ready(function () {
                        //    $("#PersonalData").bind("click", function () {
                        //            alert(name);
                        //            $.ajax({
                        //                url: "/Intern/EditData",
                        //                type: "POST",
                        //                data: ({ fname: $("#FName").val(), lname: $("#LName").val(), phone: $("#PhoneNumber").val(), dbirth: $("#DateBirth").val() }),
                        //                datatype: "html",
                        //                success: function () { alert("success"); }
                        //            });

                        //    //$.post("/Intern/EditData", { name })
                        //    //    .done(function () {
                        //    //        alert("succes");
                        //    //    })
                        //    //    .fail(function () {
                        //    //        alert("error");
                        //    //    }).
                        //    //    always(function () {
                        //    //        alert("Always");
                        //    //    });
                        //    });
                        //});

                    //function myfunction(var fname) {
                    //    var request = new XMLHttpRequest();
                    //alert(fname);
                    //    request.open('Post', 'Intern/EditData');
                    //    request.send(fname);
                    //}

</script>
